html, body, #root {
    background: #0b0f19;
    min-height: 100vh;
    margin: 0;
}

.admin-header {
  width: 100%;
  margin-bottom: 20px;
}

.admin-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1pc;
}

.admin-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: #fff;
  margin: 0;
}
.admin-container {
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
