SECRET_KEY={EXAMPLE}

DB_NAME={EXAMPLE}
DB_USER={EXAMPLE}
DB_PASS={EXAMPLE}
DB_HOST={EXAMPLE}
DB_PORT={EXAMPLE}

DSN={EXAMPLE}
JWT_KEY={EXAMPLE}
PORT= {EXAMPLE, DEFAULT = 8585, cleanup service}


EMAIL_HOST=smtp.gmail.com
EMAIL_FROM={EXAMPLE}@{EXAMPLE}.com
EMAIL_PASSWORD={EXAMPLE}
EMAIL_PORT=587

AWS_ACCESS_KEY_ID={EXAMPLE}
AWS_SECRET_ACCESS_KEY={EXAMPLE}
AWS_S3_ENDPOINT_URL={EXAMPLE}
AWS_S3_PUBLIC_URL={EXAMPLE}
AWS_STORAGE_BUCKET_NAME={EXAMPLE}