SECRET_KEY={EXAMPLE}
DB_NAME={EXAMPLE}
DB_USER={EXAMPLE}
DB_PASS={EXAMPLE}
DB_HOST={EXAMPLE}
DSN={EXAMPLE}
JWT_KEY={EXAMPLE}
PORT= {EXAMPLE, DEFAULT = 8585, cleanup service}


EMAIL_HOST=smtp.gmail.com
EMAIL_FROM={EXAMPLE}@{EXAMPLE}.com
EMAIL_PASSWORD={EXAMPLE}
EMAIL_PORT=587
