# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment and Secrets
**/.env*
**/venv/
**/.venv/
**/env/

# Python
**/__pycache__/
*.py[cod]
*$py.class

# Local Configuration
**/my.cnf

# Git
.git
